@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');

body {
font-family:'Fira Code', monospace;
background-color: #fff;
}

* {
margin:0 ;
padding: 0;
box-sizing: border-box;
}

:root {
--primaryColor:#0D263B; ;
--secondaryColor : colorText: #696969;;;
--activeColor: #0061DF;
/*--background: #F5FAFF; */
--width : 1440px;
}

.title {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 36px;
/* identical to box height, or 129% */

text-align: center;
letter-spacing: -0.02em;

/* text/1 */

color: #0D263B;

}


.subTitle {
/* Paragraph/Medium/Semibold */

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Color / 2 */

color: #0D263B;
}

.description {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* text/2 */

color: #fff;
}


.center {
display: flex;
justify-content: center;
}

.nocopy {
-webkit-touch-callout: none;  
-webkit-user-select: none;  
-khtml-user-select: none; 
-moz-user-select: none;
-ms-user-select: none; 
user-select: none;
}